[Unit]
Description=Start Clock

[Install]
WantedBy=clock.timer

[Service]
Type=simple
ExecStart=/usr/local/sbin/clock.py
ExecStop=/usr/local/sbin/clock.py --off
